<div class="list row">

  <div class="col-md-8">

    <app-search-tool></app-search-tool>

  </div>

  <div class="col-md-6">

    <h4>Products List</h4>

    <ul class="list-group">

      <li class="list-group-item" *ngFor="let product of products; let i = index" [class.active]="i == currentIndex"
        (click)="setActiveProduct(product, i)">

        {{ product.name }}

      </li>

    </ul>



    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllProducts()"
      *ngIf="showModeratorBoard || showAdminBoard">



      Remove All

    </button>

  </div>

  <div class="col-md-6">

    <app-product-details [viewMode]="true" [currentProduct]="currentProduct"></app-product-details>

  </div>

</div>